body {
  background-color: #5e0a50;
  font-family: "Caveat", cursive;
}

#navbarNav {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}

.bg-hero-image{
    background-image: url(imgs/hero.png) ;
    background-position: center center;
    background-size: cover;
}

a {
  font-size: 50px;
  font-weight: normal;
  text-align: center;
}

#trunkortreatNav {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}

p {
  font-size: 30px;
  font-weight: normal;
  text-align: center;
}

#showcase{ background-color: #ff0000; 
}

#info1{ 
  background-color: #963691; 
  font-size: 50px;
}

#info{ 
  font-size: 50px;
  color:aliceblue;
}

a{ 
  font-size: 50px;
  color:aliceblue;
}


/* Target the specific nav links and make the text white */
.nav-link {
  color: white !important;
}

#trunkortreatNav{
  font-size: 30px;
  color:aliceblue;
}

.card{
  background-color: rgba(255, 167, 240, 0.541);
}

li {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}

/* Center the card horizontally and vertically */
.center-card {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh; /* Optional: full height of the viewport for vertical centering */
}

dd {
  font-size:20px;
  font-weight: normal;
  text-align: center;
}