body {
  background-color: #2c9b00;
  font-family: "Caveat", cursive;
}

#navbarNav {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}

.bg-hero-image{
    background-image: url(imgs/hero.png) ;
    background-position: center center;
    background-size: cover;
}

a {
  font-size: 50px;
  font-weight: normal;
  text-align: center;
}

#trunkortreatNav {
  font-size: 25px;
  font-weight: normal;
  text-align: center;
}

p {
  font-size: 30px;
  font-weight: normal;
  text-align: center;
}

#showcase{ background-color: #ff0000; 
}
